<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/estilos.css">
	<link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
	<title>Quiénes somos</title>
</head>

<body>

	<header>
		<!--logo y rrss encabezado -->
			<div class="container">
				<div class="row">
					<div class="col"><img class="logo" src="../img/logo.jpg" alt="logo_kepe"></div>
					<div class="col"><h1>K'epe bags</h1></div>
					<div class="col-3"></div>
					<div class="col"><a href="http://www.facebook.com"><img class="rrss" src="../img/facebook.png" alt="facebook"></a></div>
					<div class="col"><a href="http://www.instagram.com"><img class="rrss" src="../img/instagram.png" alt="instagram"></a></div>
					<div class="col"><a href="http://www.youtube.com"><img class="rrss" src="../img/youtube.png" alt="youtube"></a></div>
				</div>
			</div>
		<!-- fin logo y rrss encabezado -->
		

	  <!-- menú navegación -->
	  <nav class="navbar navbar-expand-sm navbar-light menu">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="opciones">   
		  <ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link menu__efectos" href="../index.html">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link menu__efectos" href="productos.html">Productos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link menu__efectos" href="tiendas.html">Tiendas</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link menu__efectos" href="quienessomos.html">Quiénes somos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link menu__efectos" href="contacto.html">Contacto</a>
			</li>            
		  </ul>
		</div>
	  </nav>
      <!-- fin menú navegación -->
	</header>

  <!-- sección nosotros -->

 <main>
	<h2>Quiénes somos</h2>
    <section class="nosotros">

		<div class="row">
			<div class="col-sm-8"><p class="nosotros__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ad in distinctio voluptate vitae, praesentium explicabo nesciunt magni tempore ea dicta aperiam, doloremque hic! Facere nesciunt eos est dicta debitis ducimus voluptatibus, temporibus deserunt quod non, praesentium corrupti perspiciatis voluptates a voluptatem libero nisi vero eaque nulla! Architecto, autem facilis!</p>
			</div>
			<div class="col-sm-4"><img class="nosotros__img" src="../img/colchane.JPG">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8"><p class="nosotros__texto" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi eum iure at odit? Pariatur ducimus dolor temporibus eius, illum, rerum, fugit sequi laudantium obcaecati autem commodi maiores quos omnis numquam possimus officia tenetur similique explicabo. Expedita magni sequi quasi officiis excepturi, laboriosam maiores dolorum quis quam cupiditate? Eos, odit.</p>
			</div>
			<div class="col-sm-4">			<iframe class="nosotros__video" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fkepebikebags%2Fvideos%2F415788629014581%2F&show_text=false&width=560&t=0" width="100%" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div>
		</div>
    </section>
  </main>
    <!-- fin sección nosotros -->

	<!-- footer -->
	<footer class="d-flex flex-row flex-nowrap pieDePagina">
		<p class="pieDePagina__texto">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
	</footer>
	<!-- fin footer -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>